<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/home/changes" method='GET'>
QUERY:<input type='number' name='ask' required><br>
OLD_TIME:<input type='datetime-local' name='t1'/><br>
NEW_TIME:<input type='datetime-local' name='t2'><br> 
ID:<input type='number' name='id'><br>
<input type='submit' name='submit' value='submit'/>
 </form>
</body>
</html>